<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.st.smartTag">

    <!-- no nfc no tag -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- read the nfc tags -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- store log files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="androidx.multidex.MultiDexApplication">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <!-- stateAlwaysHidden = avoid to shod the keyboard when enter in the activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_smart_tag_tech_filter" />
        </activity>
        <activity android:name=".AboutActivity"
            android:label="@string/about_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.smartTag.MainActivity" />
        </activity>

        <service
            android:name=".SmarTagService"
            android:exported="false" />
        <service
            android:name=".ExportDataService"
            android:exported="false"/>

        <activity android:name="com.st.smarTag.cloud.config.CloudConfigActivity"
            tools:replace="android:theme"
            android:theme="@style/AppPreferenceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.st.smartTag.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_file_path" />
        </provider>
    </application>

</manifest>